<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link type="text/css" rel="stylesheet" href="css/bootstrap.css" /> 
<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">  
<link type="text/css" rel="stylesheet" href="css/style.css" /> 
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/demo.js"></script> 
<script type="text/javascript" src="js/jquery.velocity.min.js"></script> 

<!--[if ie9]
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
-->

<!--[if IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


</head>

<body>


<div class="header clearfix">
	<div class="container">
    <div class="header_box">
                         
            <em>Steel Coil Manufacturer</em>
	 
                  		
    </div>
    </div>
</div>



<div class="head-slide clearfix">
                     
	    <a href="javascript:void(0);" target="_blank" rel="nofollow"><img alt="Business online" src="images/banner.jpg"></a>
         <!--   <p class="banner_font">AGGRESSIVELY PROTECTING  YOUR RICHTS</p>-->
        <div class="messageBox">
        <div class="container">
        <div class="messageBox_m">
        	<div class="message">
                <em>FREE SAMPLE</em>
                <p>When tomorrow turns in today, yesterday, and someday that no more important in</p>
                <form method="post" id="email_form" action="/inquiry/addinquiry" onsubmit="return CheckFormData();">
                <ul>
                    <li>
                        <input type="text" name="msg_email" class="meInput" placeholder="Email">
                    </li>
                    <li>
                        <input type="text" name="msg_title" class="meInput" placeholder="Subject">
                    </li>
                    <li>
                    	<textarea id="meText" placeholder="Content" name="msg_content" style="color:#808080;" class="meText"></textarea>
                    </li>
                    <div class="clearfix"></div>
                    <input type="submit" class="send" value="FREE SAMPLE">
                    
                </ul>
                </form>   
                <p>When tomorrow turns in today, yesterday, and someday that no more important in</p>
            </div>
        </div>
    	</div>
    </div>
</div>
	


<div class="landing-page01">
	<div class="container">
		<div class="in_title">
			<h4>EmpoWering you to succeed online</h4>
			<div class="text">When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different. When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</div>
		</div>
		<ul class="list clearfix">
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<a href="#" class="images"><img src="images/pro_img1.jpg" alt="#"></a>
					<div class="wrap">
						<a href="#" class="title">Prepainted Galvanized Steel Coil</a>
						<div class="line"></div>
						<div class="text">
							Product Name: PPGI steel coil width: 750mm/1000mm/1200mm/1250mm*C
						</div>
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<a href="#" class="images"><img src="images/pro_img2.jpg" alt="#"></a>
					<div class="wrap">
						<a href="#" class="title">Prepainted Galvanized Steel Coil</a>
						<div class="line"></div>
						<div class="text">
							Product Name: PPGI steel coil width: 750mm/1000mm/1200mm/1250mm*C
						</div>
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<a href="#" class="images"><img src="images/pro_img3.jpg" alt="#"></a>
					<div class="wrap">
						<a href="#" class="title">Prepainted Galvanized Steel Coil</a>
						<div class="line"></div>
						<div class="text">
							Product Name: PPGI steel coil width: 750mm/1000mm/1200mm/1250mm*C
						</div>
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<a href="#" class="images"><img src="images/pro_img4.jpg" alt="#"></a>
					<div class="wrap">
						<a href="#" class="title">Prepainted Galvanized Steel Coil</a>
						<div class="line"></div>
						<div class="text">
							Product Name: PPGI steel coil width: 750mm/1000mm/1200mm/1250mm*C
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="landing-page02">
	<div class="container">
		<div class="in_title">
			<h4>Industries We Proudly Serve</h4>
			<div class="text">When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</div>
		</div>
		<div class="slider autoplay5">
			<div>
				<div class="li">
					<div class="column" style="background-image: url(images/app_img1.jpg)"> 
						<div class="wrap">
							<p class="title">Blanking/ Shearing</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="li">
					<div class="column" style="background-image: url(images/app_img2.jpg)"> 
						<div class="wrap">
							<p class="title">Blanking/ Shearing</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="li">
					<div class="column" style="background-image: url(images/app_img3.jpg)"> 
						<div class="wrap">
							<p class="title">Blanking/Shearing</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="li">
					<div class="column" style="background-image: url(images/app_img6.jpg)"> 
						<div class="wrap">
							<p class="title">Blanking/ Shearing</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="li">
					<div class="column" style="background-image: url(images/app_img5.jpg)"> 
						<div class="wrap">
							<p class="title">Blanking/Shearing</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="li">
					<div class="column" style="background-image: url(images/app_img4.jpg)"> 
						<div class="wrap">
							<p class="title">Blanking/ Shearing</p>
							<div class="line"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="landing-page03">
	<div class="container">
		<div class="in_title">
			<h4>Success Stories</h4>
			<div class="text">When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</div>
		</div>
		<ul class="list clearfix">
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<div class="image"><img src="images/Stories_img1.jpg" alt="#"></div>
					<div class="wrap">
						<p class="title">Working with Structural Stainless Steel</p>
						<div class="text">
							Structural stainless steel was first used for larger applications in the United States in the mid 1960’s. 
						</div>
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<div class="image"><img src="images/Stories_img2.jpg" alt="#"></div>
					<div class="wrap">
						<p class="title">Working with Structural Stainless Steel</p>
						<div class="text">
							Structural stainless steel was first used for larger applications in the United States in the mid 1960’s. 
						</div>
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<div class="image"><img src="images/Stories_img3.jpg" alt="#"></div>
					<div class="wrap">
						<p class="title">Working with Structural Stainless Steel</p>
						<div class="text">
							Structural stainless steel was first used for larger applications in the United States in the mid 1960’s. 
						</div>
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6"> 
				<div class="column">
					<div class="image"><img src="images/Stories_img4.jpg" alt="#"></div>
					<div class="wrap">
						<p class="title">Working with Structural Stainless Steel</p>
						<div class="text">
							Structural stainless steel was first used for larger applications in the United States in the mid 1960’s. 
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>	
</div>
<div class="quote_content">
	<div class="container clearfix">
		<div class="text">
			<div class="title">FREE SAMPLE</div>
			<div class="text_box">We now have established machine installations with equipment that meet and exceed industry standards </div>
		</div>
		<div class="select">
				<a href="javascript:;" class="select-trigger" data-modal="modal-lan">
					<p>FREE SAMPLE<i></i></p>
				</a>
		</div> 
	</div>
</div>
<div class="select-modal" id="modal-lan">
    <div class="select-content">
		<div class="select_title">
			<em>FREE SAMPLE</em>
			<div class="text">If you are interested in our products and want to know more details,please leave a message here,we will reply you as soon as we can.</div>
		</div>
		<div class="main">
			<div class="send_column">
				<form id="email_form" method="post" action="/inquiry/addinquiry">
					<ul class="clearfix row">
						<li class=" col-sm-6 col-xs-12">
							<span class="ms_e"><input type="text" name="msg_email" id="msg_email" class="meInput" placeholder="Your Email"></span>
						</li>
						<li class=" col-sm-6 col-xs-12">
							<span class="ms_p"><input type="text" name="msg_phone" id="msg_phone" class="meInput" placeholder="Subject"></span>
						</li>
						<li class=" meText col-xs-12">
							<span class="ms_m"><textarea id="meText" placeholder="Enter product details (such as color, size, materials etc.) and other specific requirements to receive an accurate quote." maxlength="3000" name="msg_content"></textarea></span>
						</li>
						<div class="clearfix"></div>
					</ul>
					<span class="main_more"><input type="submit" value="Submit"></span>
				</form>
			</div>
		</div>
		<button class="select-close"><i></i></button>
    </div>
</div>
<div class="select-overlay"></div>
	
	
<div class="landing-page04">
	<div class="container">
		<div class="in_title">
			<h4>Cooperation Process</h4>
			<div class="text">When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</div>
		</div>
		<ul class="list clearfix">
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Research</div>
						<div class="text">
							Tell us your needs, let us understand your needs as comprehensively as possible.
						</div>
					</div>
					<div class="number_icon">01.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Idea & Concept</div>
						<div class="text">
							Tell us your needs, let us understand your needs as comprehensively as possible.
						</div>
					</div>
					<div class="number_icon">02.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Sample Production</div>
						<div class="text">
							According to your needs, provide a complete set of procurement recommendations for your reference.
						</div>
					</div>
					<div class="number_icon">03.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Sales & Support</div>
						<div class="text">
							Tell us your needs, let us understand your needs as comprehensively as possible.
						</div>
					</div>
					<div class="number_icon">04.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Negotiation</div>
						<div class="text">
							Tell us your needs, let us understand your needs as comprehensively as possible.
						</div>
					</div>
					<div class="number_icon">05.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Purchase</div>
						<div class="text">
							Produce samples according to your needs and confirm that all details meet your requirements.
						</div>
					</div>
					<div class="number_icon">06.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Bulk Production</div>
						<div class="text">
							Tell us your needs, let us understand your needs as comprehensively as possible.
						</div>
					</div>
					<div class="number_icon">07.</div>
				</div>
			</li>
			<li class=" col-sm-3 col-xs-6">
				<div class="column">
					<div class="wrap">
						<div class="title">Delivery</div>
						<div class="text">
							Officially started mass production and strictly enforced contract quality and delivery time.
						</div>
					</div>
					<div class="number_icon">08.</div>
				</div>
			</li>
		</ul>
	</div>
</div>


<div class="landing-page05">
	<div class="container">
		<div class="in_title">
			<h4>Cooperation Process</h4>
			<div class="text">When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</div>
		</div>
		<ul class="list clearfix">
			<li class="col-sm-3 col-xs-6">
				<div class="column"> 
					<div class="title">Business Scope</div>
					<div class="text">
						Processing, manufacturing and sales of stainless coil/sheet, stainless pipe,galvanized coil, PPGI, roofing sheet, section steels, etc.. 
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6">
				<div class="column"> 
					<div class="title">Strict management</div>
					<div class="text">
						Committed to meeting the requirements of its quality management system and taking practical steps to improve the system 
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6">
				<div class="column"> 
					<div class="title">High quality</div>
					<div class="text">
						A full set of steel solutions that can provide source, supply and service concepts, the foundation of our business foundation is still based on quality
					</div>
				</div>
			</li>
			<li class="col-sm-3 col-xs-6">
				<div class="column"> 
					<div class="title">Our strength</div>
					<div class="text">
						We focus on R&D activities to maintain our best position in the industry, with advanced professional knowledge and technical expertise
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="landing-page06">
	<div class="container">
		<div class="in_title">
			<h4>What you need to know</h4>
			<div class="text">When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</div>
		</div>
		<div class="faq_column clearfix">
			<ul class="page_faq_l col-sm-6">
				<li class="question "><div class="column"><i></i><em class="title">Filling adopts servo motor,with the advantages of accurate positioning, high</em></div></li>
					<li class="answer">
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
					</li>
					<div class="clearfix"></div>
					<li class="question"><div class="column"><i></i><em class="title">Risus commodo viverra maecenas accumsan lacus vel facilisis.</em></div></li>
					<li class="answer"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div></li>
					<div class="clearfix"></div>
					<li class="question"><div class="column"><i></i><em class="title">Stirring uses Taiwan geared motor: low noise, long life, and lifetime </em></div></li>
					<li class="answer"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div></li>
					<div class="clearfix"></div>
					 <li class="question"><div class="column"><i></i><em class="title">Stirring uses Taiwan geared motor: low noise, long life, and lifetime </em></div></li>
					<li class="answer"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div></li>
					<div class="clearfix"></div>
					 
				</ul>
			<ul class="page_faq_l col-sm-6">
					<li class="question "><div class="column"><i></i><em class="title">Filling adopts servo motor,with the advantages of accurate positioning, high</em></div></li>
					<li class="answer">
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
					</li>
					<div class="clearfix"></div>
					<li class="question"><div class="column"><i></i><em class="title">Risus commodo viverra maecenas accumsan lacus vel facilisis.</em></div></li>
					<li class="answer"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div></li>
					<div class="clearfix"></div>
					<li class="question"><div class="column"><i></i><em class="title">Risus commodo viverra maecenas accumsan lacus vel facilisis.</em></div></li>
					<li class="answer"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div></li>
					<div class="clearfix"></div>
					 <li class="question"><div class="column"><i></i><em class="title">Risus commodo viverra maecenas accumsan lacus vel facilisis.</em></div></li>
					<li class="answer"><div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div></li>
					<div class="clearfix"></div>
					 
				</ul>
		</div>
	</div>
</div>

<div class="landing-page07 clearfix">
	<div class="container">
    <div class="online_box">
    	<h4>your complete solution for business online</h4>
        <p>When tomorrow turns in today, yesterday, and someday that no more important in your memory, we suddenly realize that we are pushed forward by time.This is not a train in still in which you may feel forward when another train goes by.It is the truth that we've all grown up.And we become different.</p>
        <!--<a href="#" class="lpage06-more">get started</a>-->
	</div>
    </div>
</div>
<div class="copy clearfix">
	<div class="container">
    <div class="row">
    	<p>Copyright © 2017 EEKOO ELECTRONICS CO., LTD All Rights Reserved. Powered by <a href="http://www.dyyseo.com/">dyyseo.com</a></p>
    </div>
    </div>
</div>

	

<a href="javascript:;" class="back_top"></a>




 
<script type="text/javascript">
	$('#bootstrap-touch-slider').bsTouchSlider();
</script>
  <script type="text/javascript" src="js/slick.js"></script>  
<script type="text/javascript" src="js/wow.min.js"></script> 
<script type="text/javascript" src="js/owl.carousel.min.js"></script>   
 
<script>
  /*select*/
( function( window ) {

'use strict';

// class helper functions from bonzo https://github.com/ded/bonzo

function classReg( className ) {
  return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
}

// classList support for class management
// altho to be fair, the api sucks because it won't accept multiple classes at once
var hasClass, addClass, removeClass;

if ( 'classList' in document.documentElement ) {
  hasClass = function( elem, c ) {
    return elem.classList.contains( c );
  };
  addClass = function( elem, c ) {
    elem.classList.add( c );
  };
  removeClass = function( elem, c ) {
    elem.classList.remove( c );
  };
}
else {
  hasClass = function( elem, c ) {
    return classReg( c ).test( elem.className );
  };
  addClass = function( elem, c ) {
    if ( !hasClass( elem, c ) ) {
      elem.className = elem.className + ' ' + c;
    }
  };
  removeClass = function( elem, c ) {
    elem.className = elem.className.replace( classReg( c ), ' ' );
  };
}

function toggleClass( elem, c ) {
  var fn = hasClass( elem, c ) ? removeClass : addClass;
  fn( elem, c );
}

var classie = {
  // full names
  hasClass: hasClass,
  addClass: addClass,
  removeClass: removeClass,
  toggleClass: toggleClass,
  // short names
  has: hasClass,
  add: addClass,
  remove: removeClass,
  toggle: toggleClass
};

// transport
if ( typeof define === 'function' && define.amd ) {
  // AMD
  define( classie );
} else {
  // browser global
  window.classie = classie;
}

})( window );

var ModalEffects = (function() {

	function init() {

		var overlay = document.querySelector( '.select-overlay' );

		[].slice.call( document.querySelectorAll( '.select-trigger' ) ).forEach( function( el, i ) {

			var modal = document.querySelector( '#' + el.getAttribute( 'data-modal' ) ),
				close = modal.querySelector( '.select-close' );

			function removeModal( hasPerspective ) {
				classie.remove( modal, 'select-show' );

				if( hasPerspective ) {
					classie.remove( document.documentElement, 'select-perspective' );
				}
			}

			function removeModalHandler() {
				removeModal( classie.has( el, 'select-setperspective' ) ); 
			}

			el.addEventListener( 'click', function( ev ) {
				classie.add( modal, 'select-show' );
				overlay.removeEventListener( 'click', removeModalHandler );
				overlay.addEventListener( 'click', removeModalHandler );

				if( classie.has( el, 'select-setperspective' ) ) {
					setTimeout( function() {
						classie.add( document.documentElement, 'select-perspective' );
					}, 25 );
				}
			});

			close.addEventListener( 'click', function( ev ) {
				ev.stopPropagation();
				removeModalHandler();
			});

		} );

	}

	init();
})();

 
</script>
<script>
        (function($) {
          var $nav = $('#main-nav');
          var $toggle = $('.toggle');
          var defaultData = {
            maxWidth: false,
            customToggle: $toggle,
            levelTitles: true
          };

          // we'll store our temp stuff here
          var $clone = null;
          var data = {};

          // calling like this only for demo purposes

          const initNav = function(conf) {
            if ($clone) {
              // clear previous instance
              $clone.remove();
            }

            // remove old toggle click event
            $toggle.off('click');

            // make new copy
            $clone = $nav.clone();

            // remember data
            $.extend(data, conf)

            // call the plugin
            $clone.hcMobileNav($.extend({}, defaultData, data));
          }

          // run first demo
          initNav({});

          $('.actions').find('a').on('click', function(e) {
            e.preventDefault();

            var $this = $(this).addClass('active');
            var $siblings = $this.parent().siblings().children('a').removeClass('active');

            initNav(eval('(' + $this.data('demo') + ')'));
          });
        })(jQuery);
</script>  
<script>
/*------------------------------------------------------------------
[Table of contents]

- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov
--*/

(function() {

	"use strict";

	var Core = {

		initialized: false,

		initialize: function() {

			if (this.initialized) return;
			this.initialized = true;

			this.build();

		},

		build: function() {

		 
			// Counter
			this.initNumberCounter();
			 
			
		},

	  
		  
		initNumberCounter: function(options) {
			if ($('body').length) {
				var waypointScroll = $('.percent-blocks').data('waypoint-scroll');
				if(waypointScroll){
					$(window).on('scroll', function() {
						var winH = $(window).scrollTop();
						$('.percent-blocks').waypoint(function() {
							$('.chart').each(function() {
								CharsStart();
							});
						}, {
							offset: '80%'
						});
					});
				}
			}
			function CharsStart() {
				$('.chart').easyPieChart({
					barColor: false,
					trackColor: false,
					scaleColor: false,
					scaleLength: false,
					lineCap: false,
					lineWidth: false,
					size: false,
					animate: 3000,
					onStep: function(from, to, percent){
						$(this.el).find('.percent').text(Math.round(percent));
					}
				});
			}
		},

	
 
		  
	};

	Core.initialize();

})();
</script>
 
</body>
</html>
