*
!.gitignore
!index.blade.php
!search.blade.php
!blogs.blade.php
!blog.blade.php
!page.blade.php
!about-us.blade.php
!contact-us.blade.php
!reviews.blade.php
!products.blade.php
!product-category.blade.php
!product.blade.php
!myinquirys.blade.php
!customer-services.blade.php
!faqs.blade.php
!notfound.blade.php
!inquirysuccess.blade.php
!inquiry.blade.php
!demo.blade.php
!login.blade.php
!register.blade.php
!forget.blade.php